* {
    margin: 0;
    padding: 0;
}

html, body {
    background: rgb(218, 218, 218);
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

/* header */
#header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 11em;
    background: rgb(212, 73, 73);
}

#header-inner {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#name {
    position: absolute;
    left: 0em;
    bottom: 0.7em;
}

#name h1 {
    font-size: 6em;
    font-weight: 450;
    color: whitesmoke;
}

#sites {
    position: relative;
    margin: 0 auto;
}
#sites ul {
    list-style-type: none;
}

#sites li {
    float: left;
}

#github a img {
    width: 2.2em;
    margin-right: 2em;
}

#linkedin a img {
    width: 2.2em;
    filter: invert(1);
    margin-right: 2.1em;
}

#email a img {
    width: 2.2em;
    filter: invert(1);
    margin-top: 0.15em;
}

#sites li a {
    display: inline-block;
}

#menu {
    position: absolute;
    right: 0em;
    bottom: 1em;
}
#menu ul {
    list-style: none;
}
#menu li {
    float: left;
}

#menu li a {
    display: block;
    background-color: cornsilk;
    text-decoration: none;
    font-size: 2em;
    font-weight: 300;
    color: rgb(82, 81, 81);
    border: solid 2px rgb(73, 73, 73);
    border-radius: 0.5em;
    padding: 0.32em;
    margin-right: 0.5em;
}

#menu li a.active {
    background-color:darkcyan;
    color: whitesmoke
}

/* main */
#main {
    background: rgb(218, 218, 218);
}

#main-inner {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#main-inner h2 {
    font-size: 3em;
    font-weight: 450;
    color: rgb(196, 64, 64);
    padding-top: 0.5em;
    scroll-margin-top: 3.5em;
}

.main-content {
    border-top: 0.5em double rgb(230, 230, 230);
    padding-top: 3em;
    padding-bottom: 3em;
}

#kota-pic {
    width: 23em;
    height: 23em;
    object-fit: cover;
    border: 0.3em solid rgb(212, 73, 73);
    border-radius: 12.5em;
    float: left;
    margin-right: 2em;
}

.main-content ul {
    list-style: none;
}

.main-content ul li {
    display: block;
    margin-bottom: 0.5em;
}

.logo {
    width: 2em;
}

.weblink {
    position: absolute;
    color: rgb(196, 64, 64);
    font-size: 1.5em;
    margin-left: 1em;
}

.main-list-element {
    border: 0.1em dotted rgb(151, 151, 151);
    padding: 0.7em;
}
.thumbnail {
    width: 15em;
}

.description {
    position: absolute;
    display: inline-block;
    padding: 0.6em;
}

.description a {
    color: rgb(196, 64, 64);
}

.description a h3 {
    font-weight: lighter;
    font-size: 2em;
    margin-left: 0.7em;
}
.description p {
    color: rgb(53, 53, 53);
    font-size: 1.5em;
    margin-left: 1em;
    line-height: 1.45em;
}

#quick-jump li {
    float: left;
    margin-right: 1.5em;
}

#quick-jump li a {
    font-size: 1.6em;
    text-decoration: none;
    color: rgb(53, 53, 53);
    border: 0.1em solid rgb(196, 64, 64);
    padding: 0.16em;
    background-color: cornsilk;
}

#main-text p{
    color: rgb(53, 53, 53);
    font-size: 1.5em;
    line-height: 1.45em;
    margin-bottom: 2em;
}

#main-text p a {
    color: rgb(196, 64, 64);
}

/* footer */
#footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: rgb(218, 218, 218);
    border-top: 0.6em double rgb(230, 230, 230);
    padding-top: 1em;
    padding-bottom: 1em;
}

#footer a {
    color: rgb(196, 64, 64);
    font-size: 1.2em;
}
